.all_user_profile {
  min-height: 20vh;
  width: 100%;
}

.userCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 10px 10px 10px 0 rgb(0, 0, 0, 0.2);
}

.userCard {
  min-height: 10vh;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.userCard:active {
  transform: translate(1.2);
}

.userCard_image {
  max-width: 5rem;
  padding: 0.7rem;
  border-radius: 100%;
  cursor: pointer;
}

.userCard_profile_Details > h1 {
  font-size: 1.3rem;
  cursor: pointer;
}
.userCard_profile_Details > h1::selection {
  background: transparent;
  color: inherit;
}
.userCard_profile_Details > h1:hover {
  color: #378fe9;
  text-decoration: underline;
}

.userCard_profile_Details > p {
  font-size: 0.9rem;
  color: #808080;
}

.connectBtn {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #004182;
  margin-right: 1rem;
}
