.Dashboard_component {
  border-radius: 0.5rem;
}

.create_post_container {
  display: flex;
  height: 18svh;
  width: 100%;
  gap: 1rem;
  position: relative;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #dfdeda;
  padding: 0 0.8rem;
}

.upload_button {
  position: absolute;
  right: 0;
  bottom: -38%;
  cursor: pointer;
  background-color: #378fe9;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding-inline: 1.3rem;
  padding-block: 0.4rem;
}

.upload_button:hover {
  background-color: #004182;
}

.whiteSpace {
  height: 22px;
  margin-bottom: 22px;
  width: 100%;
  border-bottom: 1.5px solid #8c8c8c33;
}

.fab {
  display: flex;
  justify-content: center;
}

.fab > svg {
  width: fit-content;
  height: 40px;
  color: #378fe9;
  cursor: pointer;
}

.user_profile {
  border-radius: 100%;
  height: 60%;
  width: fit-content;
  cursor: pointer;
}

.textArea_content {
  width: 80%;
  height: 70%;
  border: 1px solid #dfdeda;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  outline: none;
  color: #191919;
  resize: none;
}

/* all posts */
.singleCard {
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dfdeda;
  padding: 1rem 1rem 0;
  margin-bottom: 0.5rem;
}

.singleCard_postContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postDetails_container {
  display: flex;
  gap: 0.5rem;
}

.user_profile_picture {
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
}

.follow {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #378fe9;
  border-radius: 0.2rem;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.follow:hover {
  background-color: #ebf4fd;
  transition: 0.1s ease-in;
}

.follow > svg {
  height: 0.8rem;
}

.singleCard_postContainer_body {
  margin: 0.5rem 0;
}

.post_img img {
  width: 100%;
  padding: 0.5rem 0 1rem;
  height: fit-content;
  overflow: hidden;
}

.post_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  border-top: 1px solid #dfdeda;
}

.like,
.comment,
.share {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  color: #808080;
}

.like:hover,
.comment:hover,
.share:hover {
  background-color: #f3f3f3;
  border-radius: 0.2rem;
}

.like > svg,
.comment > svg,
.share > svg,
.delete > svg {
  height: 1rem;
}

.delete {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  color: #ff0000;
}

.delete:hover {
  background-color: #ce65653b;
  border-radius: 0.2rem;
}
