.Dashboard_component {
  min-height: 100vh;
  border-radius: 0.5rem;
}

.create_post_container {
  display: flex;
  height: 18svh;
  width: 100%;
  gap: 1rem;
  position: relative;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #dfdeda;
  padding: 0 0.8rem;
}

.upload_button {
  position: absolute;
  right: 0;
  bottom: -38%;
  cursor: pointer;
  background-color: #378fe9;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding-inline: 1.3rem;
  padding-block: 0.4rem;
}

.upload_button:hover {
  background-color: #004182;
}

.whiteSpace {
  height: 22px;
  margin-bottom: 22px;
  width: 100%;
  border-bottom: 1.5px solid #8c8c8c33;
}

.fab {
  display: flex;
  justify-content: center;
}

.fab > svg {
  width: fit-content;
  height: 40px;
  color: #378fe9;
  cursor: pointer;
}

.user_profile {
  border-radius: 100%;
  height: 60%;
  width: fit-content;
  cursor: pointer;
}

.textArea_content {
  width: 80%;
  height: 70%;
  border: 1px solid #dfdeda;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  outline: none;
  color: #191919;
  resize: none;
}

.all_posts_Container {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dfdeda;
  padding: 0.5rem;
}

/* all posts */
.singleCard {
  width: 100%;
}

.singleCard_postContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.postDetails_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user_profile_picture {
  height: 4rem;
}
