.Dashboard_component {
  border-radius: 0.5rem;
}

.create_post_container {
  display: flex;
  height: 18svh;
  width: 100%;
  gap: 1rem;
  position: relative;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid #dfdeda;
  padding: 0 0.8rem;
}

.upload_button {
  position: absolute;
  right: 0;
  bottom: -38%;
  cursor: pointer;
  background-color: #378fe9;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding-inline: 1.3rem;
  padding-block: 0.4rem;
}

.upload_button:hover {
  background-color: #004182;
}

.whiteSpace {
  height: 22px;
  margin-bottom: 22px;
  width: 100%;
  border-bottom: 1.5px solid #8c8c8c33;
}

.fab {
  display: flex;
  justify-content: center;
}

.fab > svg {
  width: fit-content;
  height: 40px;
  color: #378fe9;
  cursor: pointer;
}

.user_profile {
  border-radius: 100%;
  height: 60%;
  width: fit-content;
  cursor: pointer;
}

.textArea_content {
  width: 80%;
  height: 70%;
  border: 1px solid #dfdeda;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  outline: none;
  color: #191919;
  resize: none;
}

/* all posts */
.singleCard {
  width: 100%;
  min-height: 80vh;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dfdeda;
  padding: 1rem 1rem 0;
  margin-bottom: 0.5rem;
}

.singleCard_postContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postDetails_container {
  display: flex;
  gap: 0.5rem;
}

.user_profile_picture {
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
}

.follow {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #378fe9;
  border-radius: 0.2rem;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.follow:hover {
  background-color: #ebf4fd;
  transition: 0.1s ease-in;
}

.follow > svg {
  height: 0.8rem;
}

.singleCard_postContainer_body {
  margin: 0.5rem 0;
}

.post_img img {
  width: 100%;
  padding: 0.5rem 0 1rem;
  height: fit-content;
  overflow: hidden;
}

.post_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  border-top: 1px solid #dfdeda;
}

.like,
.comment,
.share {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  color: #808080;
}

.like:hover,
.comment:hover,
.share:hover {
  background-color: #f3f3f3;
  border-radius: 0.2rem;
}

.like > svg,
.comment > svg,
.share > svg,
.delete > svg {
  height: 1rem;
}

.delete {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  color: #ff0000;
}

.delete:hover {
  background-color: #ce65653b;
  border-radius: 0.2rem;
}

.comments_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 40px;
  left: 0;
  background-color: #000000b3;
  overflow: hidden;
}

.all_Comments_Container {
  height: 80vh;
  width: 40vw;
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dfdeda;
  display: flex;
  flex-direction: column;
}

/* Comments Card */

.commentCard {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.commentsList {
  flex: 1;
  overflow-y: auto;
  padding: 1.2rem;
}

.commentsList::-webkit-scrollbar {
  width: 6px;
}
.commentsList::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 0.85rem;
  font-weight: bold;
}

.username span {
  margin-left: 5px;
  font-weight: normal;
  color: gray;
}

.text {
  font-size: 0.85rem;
  color: #333;
}

.deleteComment {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.deleteComment > svg {
  height: 1.3rem;
  color: red;
}

/* Post Comment Container */
.Post_Comment_Container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border-top: 1px solid #eee;
  background: #fff;
  border-radius: 0.5rem;
}

.Post_Comment_Container > input {
  flex: 0.9;
  padding-inline: 0.9rem;
  padding-block: 0.7rem;
  border: 1px solid #dfdeda;
  border-radius: 5rem;
  outline: none;
  font-size: 0.7rem;
}
.Post_Comment_Container > input:focus {
  outline: 1.5px solid #d8d8d8;
}

.comment_button {
  flex: 0.1;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border-radius: 5rem;
  font-size: 0.7rem;
  color: #fff;
  font-weight: bold;
  background-color: #378fe9;
  cursor: pointer;
}
