.conteiner {
  padding-inline: 4.5rem;
  background-color: #f4f2ee;
}

.profile_container {
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  min-height: 100vh;
}

/* Profile Left Container */
.profile_container_left {
  flex: 0.75;
}

.profile_left_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.profile_left_details_container {
  min-height: 80vh;
  background-color: #fff;
  border-radius: 0.5rem;
}

.profile_left_backgroundImg {
  height: 32vh;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  cursor: pointer;
  background-color: #004182;
  position: relative;
}

.profile_left_backgroundImg > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.profile_pic {
  position: absolute;
  bottom: -30%;
  left: 3%;
  width: 160px;
  height: 160px;
}

.profile_pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.3rem;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.profilePicUpdate {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  border-radius: 100%;
  opacity: 0;
}

.profilePicUpdate:hover {
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.profilePic_edit_btn > svg {
  height: 2.5rem;
  margin-top: 1rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 100%;
  color: #0a66c2;
  cursor: pointer;
}

.profilePic_edit_btn > svg:hover {
  background-color: #ebf4fd;
}

.profilePic_edit_btn > svg {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.profile_left_container_bottom {
  padding: 0 2rem;
}

.whitespace {
  height: 4.5rem;
  text-align: end;
}

.profilePic_edit > svg {
  height: 2.5rem;
  margin-top: 1rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 100%;
  color: #0a66c2;
  cursor: pointer;
}

.profilePic_edit > svg:hover {
  background-color: #ebf4fd;
}

/* Profile Update btn */

.updateProfile_backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.updateProfile_details {
  position: fixed;
  padding: 1.2rem;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  min-height: 70vh;
  background: #fff;
  border-radius: 0.5rem;
  z-index: 1000;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.profilDetails > input {
  padding-inline: 1.5rem;
  padding-block: 0.9rem;
  outline: none;
  border-radius: 0.3rem;
  margin-block: 0.2rem;
  width: 100%;
  border: 0.093rem solid #d0d0d0;
  transition: 0.2s;
}

.profilDetails > textarea {
  width: 100%;
  height: 15vh;
  border: 1px solid #dfdeda;
  border-radius: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline: 1rem;
  padding-block: 0.8rem;
  margin-block: 0.2rem;
  outline: none;
  color: #191919;
  resize: none;
}

.saveBtn {
  position: absolute;
  right: 3%;
  bottom: 8%;
  border: none;
  cursor: pointer;
  background-color: #378fe9;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 1.5rem;
  padding-inline: 2rem;
  padding-block: 0.4rem;
}

.saveBtn:hover {
  background-color: #004182;
}

/* Work History */

.work_history_head {
  display: flex;
  justify-content: space-between;
}

/* background left edit btn */

.backgroundPic_edit > svg {
  height: 2.5rem;
  position: absolute;
  top: 6%;
  right: 2%;
  color: #0a66c2;
  background-color: #fff;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.work_history_head {
  margin-bottom: 0.8rem;
}

.work_history_edit > svg {
  height: 2.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 100%;
  color: #0a66c2;
  cursor: pointer;
}

.work_history_edit > svg:hover {
  background-color: #ebf4fd;
}

.selectYr {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

/* connected Btn */
.connectedBtn {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: #0a66c2;
  font-weight: bold;
  margin-top: 1rem;
  border: 2px solid #0a66c2;
  border-radius: 5rem;
  cursor: pointer;
}

.connectedBtn:hover {
  color: #004182;
  border: 2px solid #004182;
}

.connectBtn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.editProfileBtn {
  background-color: #fff;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  color: #0a66c2;
  border: 2px solid #0a66c2;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.editProfileBtn:hover {
  background-color: #ebf4fd;
  border: 2px solid #004182;
  color: #004182;
}

.pendingBtn {
  background-color: #ebf4fd;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  border: 2px solid #0a66c2;
  color: #0a66c2;
  font-weight: bold;
  margin-top: 1rem;
  cursor: not-allowed;
}

/* connect btn */
.connectBtn {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #004182;
}

.downloadBtn > svg {
  height: 1.5rem;
}

/* Profile right Container */

.profile_container_right {
  flex: 0.25;
}

.premium_profiles {
  min-height: 60vh;
  border-radius: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  background-color: #fff;
}

.premium_Profiles_details {
  border-bottom: 1px solid #e3dfdf;
  display: flex;
  align-items: start;
  padding: 1rem 0;
  gap: 0.5rem;
}

.premium_profile_picture {
  max-width: 3.5rem;
  cursor: pointer;
  border-radius: 100%;
}

.premium_profile_data {
  width: 100%;
}

.premium_profile_data > p:hover {
  color: #0a66c2;
  cursor: pointer;
}

.premium_profile_message {
  font-size: 0.7rem;
  padding: 0.35rem;
  margin: 1rem 0 0;
  text-align: center;
  border: 2px solid #0a66c2;
  color: #0a66c2;
  font-weight: bold;
  border-radius: 5rem;
  cursor: pointer;
}

.premium_profile_message:hover {
  background-color: #ebf4fd;
  color: #004182;
  border: 2px solid #004182;
}

.Explore_job_adda {
  display: flex;
  justify-content: center;
}

.Explore_job_adda > p {
  margin-top: 1rem;
  color: #0a66c2;
  max-width: 60%;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-weight: bold;

  border-radius: 0.3rem;
  cursor: pointer;
}

.Explore_job_adda > p:hover {
  background-color: #ebf4fd;
  color: #004182;
}

.Explore_job_adda > p::selection {
  background: transparent;
  color: inherit;
}

/* Work History */
.work_history {
  background: #fff;
  border-radius: 0.5rem;
  min-height: 35vh;
  padding-inline: 1rem;
  padding-block: 0.8rem;
}

.work_history_Card {
  margin-top: 1rem;
  padding-inline: 1.4rem;
  padding-block: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

/* all posts */
.singleCard {
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dfdeda;
  padding: 1rem 1rem 0;
  margin-bottom: 0.5rem;
}

.singleCard_postContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postDetails_container {
  display: flex;
  gap: 0.5rem;
}

.user_profile_picture {
  height: 3.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.follow {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #378fe9;
  border-radius: 0.2rem;
  padding-inline: 1.4rem;
  padding-block: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.follow:hover {
  background-color: #ebf4fd;
  transition: 0.1s ease-in;
}

.follow > svg {
  height: 1rem;
  margin-top: 0.2rem;
}

.singleCard_postContainer_body {
  margin: 0.5rem 0;
}

.post_img img {
  width: 100%;
  padding: 0.5rem 0 1rem;
  height: fit-content;
  overflow: hidden;
}

.post_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  border-top: 1px solid #dfdeda;
}

.like,
.comment,
.share {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  color: #808080;
}

.like:hover,
.comment:hover,
.share:hover {
  background-color: #f3f3f3;
  border-radius: 0.2rem;
}

.like > svg,
.comment > svg,
.share > svg,
.delete > svg {
  height: 1rem;
}

.delete {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  color: #ff0000;
}

.delete:hover {
  background-color: #ce65653b;
  border-radius: 0.2rem;
}

.comments_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 40px;
  left: 0;
  background-color: #000000b3;
  overflow: hidden;
}

.all_Comments_Container {
  height: 80vh;
  width: 40vw;
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dfdeda;
  display: flex;
  flex-direction: column;
}

/* Comments Card */

.commentCard {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.commentsList {
  flex: 1;
  overflow-y: auto;
  padding: 1.2rem;
}

.commentsList::-webkit-scrollbar {
  width: 6px;
}
.commentsList::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 0.85rem;
  font-weight: bold;
}
.username::selection {
  background: transparent;
  color: inherit;
}

.username span {
  margin-left: 5px;
  font-weight: normal;
  color: gray;
}

.text {
  font-size: 0.85rem;
  color: #333;
}

.deleteComment {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.deleteComment > svg {
  height: 1.3rem;
  color: red;
}

/* Post Comment Container */
.Post_Comment_Container {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border-top: 1px solid #eee;
  background: #fff;
  border-radius: 0.5rem;
}

.Post_Comment_Container > input {
  flex: 0.9;
  padding-inline: 0.9rem;
  padding-block: 0.7rem;
  border: 1px solid #dfdeda;
  border-radius: 5rem;
  outline: none;
  font-size: 0.7rem;
}
.Post_Comment_Container > input:focus {
  outline: 1.5px solid #d8d8d8;
}

.comment_button {
  flex: 0.1;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border-radius: 5rem;
  font-size: 0.7rem;
  color: #fff;
  font-weight: bold;
  background-color: #378fe9;
  cursor: pointer;
}

.Dashboard_component {
  border-radius: 0.5rem;
}
