.container {
  font-family: "poppins";
  padding: 1.2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 80vh;
  /* padding-inline: 2rem; */
}

.mainContainer_left {
  flex: 0.5;
}

.mainContainer_left_header {
  font-size: 2.4rem;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #000000, #b2b2b2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainContainer_right {
  flex: 0.5;
  text-align: center;
}

.buttonJoin {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: #0a66c2;
}

.buttonJoin:hover {
  text-decoration: underline;
  color: #004182;
}
