.container {
  padding: 1.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarOptionContainer {
  flex: 0.23;
  display: flex;
  justify-content: space-between;
}

.buttonJoin {
  padding: 0.5rem 1.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #0a66c2;
  background-color: #fff;
  color: #0a66c2;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttonJoin:hover {
  background-color: #0a66c2;
  color: #fff;
  box-shadow: 0 2px 6px #00000026;
}

.linkedinLoginBtn {
  background-color: #0a66c2;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.linkedinLoginBtn:hover {
  background-color: #004182;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #0a66c2;
}

.logo span {
  background-color: #0a66c2;
  color: white;
  padding: 0px 0.5rem;
  border-radius: 0.25rem;
}
