.all_user_profile {
  min-height: 90vh;
  width: 100%;
}

.userCard {
  min-height: 10vh;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 10px 10px 10px 0 rgb(0, 0, 0, 0.2);
}
.userCard:active {
  transform: translate(1.2);
}

.userCard_image {
  width: 5rem;
  height: 5rem;
  padding: 0.7rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
}

.userCard_profile_Details > h1 {
  font-size: 1.3rem;
  cursor: pointer;
}
.userCard_profile_Details > h1::selection {
  background: transparent;
  color: inherit;
}
.userCard_profile_Details > h1:hover {
  color: #378fe9;
  text-decoration: underline;
}

.userCard_profile_Details > p {
  font-size: 0.9rem;
  color: #808080;
}
