.all_user_profile {
  min-height: 90vh;
  width: 100%;
}

.userCard {
  min-height: 10vh;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 10px 10px 10px 0 rgb(0, 0, 0, 0.2);
}

.userCard_image {
  max-width: 5rem;
  border-radius: 100%;
  cursor: pointer;
}

.userCard_profile_Details > h1 {
  font-size: 1.3rem;
  cursor: pointer;
}

.userCard_profile_Details > p {
  font-size: 0.9rem;
  color: #808080;
}
