.conteiner {
  padding-inline: 4.5rem;
  background-color: #f4f2ee;
}

.profile_container {
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  min-height: 100vh;
}

/* Profile Left Container */
.profile_container_left {
  flex: 0.75;
}

.profile_left_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.profile_left_details_container {
  min-height: 80vh;
  background-color: #fff;
  border-radius: 0.5rem;
}

.profile_left_backgroundImg {
  height: 32vh;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  cursor: pointer;
  background-color: #004182;
  position: relative;
}

.profile_left_backgroundImg > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.profile_pic {
  position: absolute;
  bottom: -30%;
  left: 3%;
}

.profile_pic > img {
  max-height: 30vh;
  padding: 0.3rem;
  background-color: #fff;
  box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.1);
  border-radius: 100%;
}

.profile_left_container_bottom {
  padding: 0 2rem;
}

.whitespace {
  height: 4.5rem;
  text-align: end;
}

.profilePic_edit > svg {
  height: 2.5rem;
  margin-top: 1rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 100%;
  color: #0a66c2;
  cursor: pointer;
}

.profilePic_edit > svg:hover {
  background-color: #ebf4fd;
}

/* background left edit btn */

.backgroundPic_edit > svg {
  height: 2.5rem;
  position: absolute;
  top: 6%;
  right: 2%;
  color: #0a66c2;
  background-color: #fff;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}

/* connected Btn */
.connectedBtn {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: #0a66c2;
  font-weight: bold;
  margin-top: 1rem;
  border: 2px solid #0a66c2;
  border-radius: 5rem;
  cursor: pointer;
}

.connectedBtn:hover {
  color: #004182;
  border: 2px solid #004182;
}

.connectBtn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.editProfileBtn {
  background-color: #fff;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  color: #0a66c2;
  border: 2px solid #0a66c2;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.editProfileBtn:hover {
  background-color: #ebf4fd;
  border: 2px solid #004182;
  color: #004182;
}

.pendingBtn {
  background-color: #ebf4fd;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  border: 2px solid #0a66c2;
  color: #0a66c2;
  font-weight: bold;
  margin-top: 1rem;
  cursor: not-allowed;
}

/* connect btn */
.connectBtn {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #004182;
}

/* Profile right Container */

.profile_container_right {
  flex: 0.25;
}

.premium_profiles {
  min-height: 60vh;
  border-radius: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  background-color: #fff;
}

.premium_Profiles_details {
  border-bottom: 1px solid #e3dfdf;
  display: flex;
  align-items: start;
  padding: 1rem 0;
  gap: 0.5rem;
}

.premium_profile_picture {
  max-width: 3.5rem;
  cursor: pointer;
  border-radius: 100%;
}

.premium_profile_data {
  width: 100%;
}

.premium_profile_data > p:hover {
  color: #0a66c2;
  cursor: pointer;
}

.premium_profile_message {
  font-size: 0.7rem;
  padding: 0.35rem;
  margin: 1rem 0 0;
  text-align: center;
  border: 2px solid #0a66c2;
  color: #0a66c2;
  font-weight: bold;
  border-radius: 5rem;
  cursor: pointer;
}

.premium_profile_message:hover {
  background-color: #ebf4fd;
  color: #004182;
  border: 2px solid #004182;
}

.Explore_job_adda {
  display: flex;
  justify-content: center;
}

.Explore_job_adda > p {
  margin-top: 1rem;
  color: #0a66c2;
  max-width: 60%;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-weight: bold;

  border-radius: 0.3rem;
  cursor: pointer;
}

.Explore_job_adda > p:hover {
  background-color: #ebf4fd;
  color: #004182;
}

.Explore_job_adda > p::selection {
  background: transparent;
  color: inherit;
}

/* Work History */
.work_history {
  background: #fff;
  border-radius: 0.5rem;
  min-height: 35vh;
  padding-inline: 1rem;
  padding-block: 0.8rem;
}

.work_history_Card {
  margin-top: 1rem;
  padding-inline: 1.4rem;
  padding-block: 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}
